:root {
  --text-background-color: linear-gradient(to right, rgb(139, 21, 185), rgb(179, 2, 99));
  --gradient-color: transparent;
  --white-color: white;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: sans-serif;
  width: auto;
}

nav,
footer {

  padding-top: 2rem;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  padding: 15px 40px;
  position: relative;
  width: 100%;
  flex-wrap: nowrap;
}

.logo {
  background: var(--text-background-color);
  -webkit-background-clip: text;
  color: var(--gradient-color);
  font-size: 2rem;
  font-weight: bolder;
  white-space: nowrap;
  flex-shrink: 0;
}

.nav-links,
.footer-links {
  color: white;
  display: flex;
  gap: 30px;
  list-style: none;
  flex-shrink: 0;
}

.nav-links a:hover,
.footer-links a:hover {
  background-image: var(--text-background-color);
  color: var(--gradient-color);
  -webkit-background-clip: text;
}

ul a {
  text-decoration: none;
  color: white;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  flex-shrink: 0;
  z-index: 10;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: var(--text-background-color);
  border-radius: 2px;
  transition: 0.3s;
}

.contact-link {
  height: 30px;
  width: 30px;
  padding: 5px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.contactInfo {
  display: flex;
  gap: 10px;
}

.downloadResume {
  color: var(--white-color);
  border: none;
  box-shadow: -5px 0 10px rgb(139, 21, 185), 5px 0 10px rgb(238, 43, 190);
  padding: 5px;
  margin-bottom: 20px;
  border-radius: 20px;
  line-height: 200%;
  width: 35%;
  background: var(--text-background-color);
}

/* --- Hero Section --- */
#hero-title {
  font-size: 5rem;
  padding-bottom: 1rem;
  color: var(--white-color);
}

#hero_subheading {
  font-size: 2rem;
  background-image: var(--text-background-color);
  color: var(--gradient-color);
  -webkit-background-clip: text;
}

#description {
  font-size: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: var(--white-color);
}

.hero {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10%;
  align-items: center;
}

.hero-text {
  width: 40%;
  text-align: left;
}

.hero-images {
  position: relative;
  margin-top: 5%;
  width: 300px;
  height: 300px;

}

.hero-mainImage {
  background-color: white;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  padding: 10px;
  object-fit: cover;
  box-shadow: -10px 0 20px rgb(139, 21, 185), 10px 0 20px pink;
}

.js {
  top: 50%;
  left: 0;
  transform: translate(-200%, -300%);
  border-top: 1px solid yellow;
}

.html {
  border-top: 1px solid orange;
  top: -20%;
  left: 80%;
  transform: translate(-50%, 0%);
}

.react {
  bottom: -10%;
  left: 80%;
  transform: translateX(-50%);
  border-top: 1px solid rgb(75, 154, 220);

}

.js,
.html,
.react {
  position: absolute;
  height: 50px;
  padding: 5px;
  border-radius: 50%;
  transition: all 0.3s ease;
  background: black;
}

/* About Section */
.about-heading {
  font-size: 3rem;
  text-align: center;
  object-fit: cover;
  color: white;
}

.about-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 900px;
  margin: auto;
  gap: 8rem;

}

.about-image {
  height: 400px;
  width: 400px;
  border-radius: 50%;
  padding: 5px;
  background-color: rgb(194, 193, 193);
  box-shadow: -10px 0 20px rgb(139, 21, 185), 10px 0 20px pink;
}

.about-section {
  position: relative;
  padding: 4rem 2rem;
  color: var(--white-color);
}

.about-section::before {
  content: "";
  position: absolute;
  top: -80px;
  right: 20px;
  width: 200px;
  height: 200px;
  background: radial-gradient(circle,
      rgba(190, 17, 112, 0.852) 0%,
      rgba(119, 26, 169, 0.376)40%, transparent 100%);
  border-radius: 50%;
  filter: blur(20px);
  z-index: -1;

}

.project-section::before {
  content: "";
  position: absolute;
  top: -30px;
  right: -120px;
  width: 250px;
  height: 250px;
  background: radial-gradient(circle,
      rgba(190, 17, 112, 0.852) 0%,
      rgba(119, 26, 169, 0.376)40%, transparent 100%);
  border-radius: 50%;
  filter: blur(20px);
  z-index: -1;
}

.project-section::after {
  content: "";
  position: absolute;
  bottom: -100px;
  left: -350px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  filter: blur(50px);
  z-index: -1;
  pointer-events: none;
  background-image:
    radial-gradient(circle, rgba(190, 17, 112, 0.8) 0%, rgba(119, 26, 169, 0.4) 70%, transparent 100%),
    linear-gradient(to right, rgba(255, 255, 255, 0.06) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.06) 1px, transparent 1px);
  background-size: 100% 100%, 30px 30px, 30px 30px;
  background-blend-mode: screen;

}

.contact-section::after {
  content: "";
  position: absolute;
  bottom: -100px;
  right: 150px;
  width: 200px;
  height: 200px;
  background: radial-gradient(circle,
      rgba(190, 17, 112, 0.852) 0%,
      rgba(119, 26, 169, 0.376)40%, transparent 100%);
  border-radius: 50%;
  filter: blur(20px);
  z-index: -1;

}

.about-content {
  flex: 1;
  width: 200px;
}

.about-section svg {
  box-shadow: -5px 0 10px rgb(139, 21, 185), 5px 0 10px rgb(238, 43, 190);
  ;
}

.about-content h3 {
  font-size: 2rem;
  padding-bottom: 10px;
  color: transparent;
  background: var(--text-background-color);
  -webkit-background-clip: text;
}

.about-content p {
  font-size: 18px;
  padding-bottom: 10px;
  text-align: justify;
}

.about-skill {
  border: 2px solid purple;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 10px;
  font-size: medium;
  display: flex;
  gap: 0.5rem;
}

/* skill section */
.skill-section {
  margin: 2% 0;
}

.skill-section h2 {
  font-size: 3rem;
  text-align: center;
  color: white;
}

.skills {
  display: grid;
  gap: 2rem;
  width: fit-content;
  border-radius: 20px;
  margin: auto;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 30px;
}

.skill {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.skill-icon {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  padding: 5px;
  background: radial-gradient(circle, rgba(255, 140, 0, 0.25) 0%, transparent 70%);
}

.skill-level {
  display: flex;
  gap: 0.8rem;
}

.skill-level span {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  opacity: 0.85;
  transition: 0.3s;
}

.skill-level-html span {
  background-color: #ff7b00;
}

.skill-level-css span {
  background-color: #0d7ae7;
}

.skill-level-js span {
  background-color: #ecf933;
}

.skill-level-react span {
  background-color: #2d69d0;
}

.skill-level-bootstrap span {
  background-color: #6d08e7;
}

.skill:nth-child(1) .skill-level span:nth-last-child(-n+1),
.skill:nth-child(2) .skill-level span:nth-last-child(-n+2),
.skill:nth-child(3) .skill-level span:nth-last-child(-n+2),
.skill:nth-child(4) .skill-level span:nth-last-child(-n+3),
.skill:nth-child(5) .skill-level span:nth-last-child(-n+5) {
  opacity: 0.3;
}

.skill-level-html span:hover {
  box-shadow: 0 0 10px #ff7b00;
  transform: scale(1.2);
}

.skill-level-css span:hover {
  box-shadow: 0 0 10px #0d7ae7;
  transform: scale(1.2);
}

.skill-level-bootstrap span:hover {
  box-shadow: 0 0 10px #6d08e7;
  transform: scale(1.2);
}

.skill-level-js span:hover {
  box-shadow: 0 0 10px yellow;
  transform: scale(1.2);
}

.skill-level-react span:hover {
  box-shadow: 0 0 10px #2d69d0;
  transform: scale(1.2);
}

/* project Section */
.project-section {
  position: relative;
  width: 80%;
  max-width: 900px;
  margin: 50px auto;
  text-align: center;
}

.project-section h2 {
  font-size: 3rem;
  text-align: center;
  color: white;
  margin: 20px 0;
}

.filter-box {
  margin-bottom: 30px;
}

#project-filter {
  padding: 8px 12px;
  border-radius: 6px;
  outline: none;
  cursor: pointer;
  background-image: var(--text-background-color) !important;
  border: none;
  box-shadow: -5px 0 10px rgb(139, 21, 185), 5px 0 10px rgb(238, 43, 190);
  color: white;
  font-weight: bold;
}

option {
  color: rgb(255, 255, 255);
  background-color: purple;
  border: none;
  font-weight: bold;
}

option:hover {
  background-color: white !important;
  color: purple !important;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.projectCard {
  width: 400px;
  height: 300px;
  background: transparent;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.4s ease, transform 0.4s ease;
  display: inline-block;
  border: 1px solid peachpuff;
}

.projectCard.hide {
  opacity: 0;
  transform: scale(0.8);
}

.projectCard:hover {
  transform: translateY(-5px);
}

.projectCard h3 {
  color: var(--white-color);
  margin: 20px 0;
}

a {
  text-decoration: none !important;
}

.preview-buttons a button {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
  border: 1px solid transparent;
  border-image: var(--text-background-color);
  border-image-slice: 1;
  background-clip: text;
  background-origin: content-box, bord;
  -webkit-background-clip: text;
  color: var(--gradient-color);
  background-image: var(--text-background-color);
  display: flex;
  align-items: center;
  padding: 5px 5px;
}

.preview-buttons a button:hover {
  background: var(--text-background-color);
  border: 1px solid transparent;
  border-image: var(--text-background-color);
  border-image-slice: 1;
  color: whitesmoke;
  border-radius: 20px;
  transition: all 1s ease;
  border: none !important;
}

.preview-buttons a button:hover svg {
  stroke: white;
}

.preview-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  gap: 20px;
}

.repository img {
  background-color: transparent;
  background-image: var(--text-background-color);
  border-radius: 50%;
  margin-left: 5px;
}

button svg {
  margin-left: 10px;
}

.projectCard>img {
  width: 350px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;

}

/* Contact Form */
.contact-section h2 {
  text-align: center;
  font-size: 3rem;
  color: white;
}

.contact-section {
  margin: 2rem auto;
  position: relative;
}

fieldset {
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 10px;
  margin: 1rem auto;
  border-radius: 10px;
  padding: 30px;
  border: 2px solid plum;
}

fieldset button {
  background-color: rgb(185, 6, 185);
  font-size: 20px;
  color: white;
  width: 25%;
  width: 40%;
  margin-left: auto;
  margin-bottom: 10%;
  padding: 10px 10px;
  border-radius: 10px;

}

form input,
form textarea {
  border-radius: 5px;
  background-color: black;
  border: 1px solid wheat;
  color: white;
  padding: 5px;
}

form input {
  height: 40px;
}

/* Footer */
footer .logo {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

footer .copyright {
  font-size: 1rem;
  margin-top: 20px;
}

/* --- Tablet and below --- */
@media (max-width: 768px) {
  .logo {
    font-size: 1.5rem;
  }

  .hamburger {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #111;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
    display: none;
  }

  .nav-links.active {
    display: flex;
    animation: slideDown 0.4s ease;
    background: rgb(32, 1, 32);
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .hero {
    display: block;
    text-align: center;
  }

  .hero-text {
    width: 100%;
    text-align: center;
  }

  #hero-title {
    font-size: 3rem;
  }

  .downloadResume {
    padding-bottom: 30px 50px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 50%;
  }

  .contactInfo {
    display: block;
  }

  .hero-images {
    width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .js,
  .html,
  .react {
    height: 35px;
  }

  .js {
    top: 52%;
    left: -15%;
  }

  .html {
    top: -25%;
    right: 100%;
  }

  .react {
    bottom: -10%;
    left: 75%;
  }

  .about-container {
    flex-direction: column;
    text-align: center;
    gap: 2rem;
  }

  .about-image {
    width: 80%;
    max-width: 300px;
    height: auto;

  }

  .about-content {
    width: 400px;
  }

  .skills {
    grid-template-columns: repeat(1, 1fr) !important;

  }

  .skill-level {
    gap: 0.5rem;
  }

  .footer-links {
    display: block;
    gap: 10px;
  }

  fieldset {
    width: 60%;
  }

  fieldset button {
    width: 100%;
    margin: auto;
    padding: 10px 10px;
    border-radius: 10px;
  }

  .skill-section h2,
  .contact-section h2,
  .about-heading,
  .project-section h2 {
    font-size: 2rem;
  }

  .projectCard {
    width: 280px;
    height: 300px;
    padding: 20px;
  }

  .projectCard>img {
    width: 240px;
    height: auto;
  }
}